{% extends 'custom/base.html' %}
{% load static %}


{% block headerImage %}
    {% for mainImage in mainImages %}
    <div class="header__content">
        <div class="header__img">
            <img src="{{ mainImage.image.url }}" alt="{{ mainImage.title }}">
        </div>
        <div class="header__title">
            <h3 class="main__h3">{{ mainImage.title }}</h3>
            <p>{{ mainImage.subtitle }}</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}


{% block content %}
{% for aboutPage in aboutPages %}
    <content class="content">
        <div class="content__container">
            <div class="container">
                <div class="block__container">
                    <div class="block__container_img">
                        <img src="{{ aboutPage.topBlockImage.url }}" alt="who we are">
                    </div>
                    <div class="block__container_text">
                        <h5 class="main__h5">{{ aboutPage.topBlockHeader }}</h5>
                        <h4 class="main__h4">{{ aboutPage.topBlockTitle }}</h4>
                        <p class="main__p">{{ aboutPage.topBlockSubtitle }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__container_diff aic">
            <div class="products__container">
                <div class="block__container_img">
                    <img src="{{ aboutPage.productionimage.url }}" alt="products">
                </div>
                <div class="products__text">
                    <h5 class="main__h5">{{ aboutPage.productionheader }}</h5>
                    {% if aboutPage.productiontitle %}
                    <h4 class="main__h4">{{ aboutPage.productiontitle }}</h4>
                    {% endif %}
                    <p class="main__p">{{ aboutPage.productionsubtitle }}</p>
                    <a class="btn" href="/innovation/">{{ aboutPage.productionBottonName }}</a>
                </div>   
            </div>
        </div>
    </content>

{% endfor %}
{% endblock %}