{% extends 'custom/base.html' %}
{% load static %}


{% block headerImage %}
    {% for mainImage in mainImages %}
    <div class="header__content">
        <div class="header__img">
            <img src="{{ mainImage.image.url }}" alt="">
        </div>
        <div class="header__title">
            <h3 class="main__h3">{{ mainImage.title }}</h3>
            <p>{{ mainImage.subtitle }}</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}


{% block content %}
{%for contactstData in contactsPage%}
    <content class="content">
        <div class="content__container">
            <div class="container contacts">
                <div class="contacts__container_section">
                    <div class="contacts__container_where">
                        <div class="contacts__where_text">
                            <h5>{{contactstData.title}} <br><br></h5>
                            <p style="white-space:pre-line">{{contactstData.description}}</p>
                        </div>
                        <button type="button" class="sbm btn_link">Телеграм бот</button>
                    </div>
                    {% if contactstData.organizationTitle %}
                    <h5 class="organization__mainheader">{{ contactstData.organizationTitle }}</h5>
                    {% else %}
                        <h5 class="organization__mainheader"></h5>
                    {% endif %}
                    <div class="contacts__container_organization">
                        {%for organization in organizations %}
                        <div class="contacts__container_text">
                            <span>{{ organization.title }}</span> <br><br>
                            {% if organization.name %}
                            <span>{{ organization.name }}</span> <br>
                            {% endif %}
                            <span>График работы:</span> {{ organization.workTime }} <br>
                            <span>Адрес:</span> {{ organization.address }} <br>
                            <span>Телефон:</span> {{ organization.phoneNumber1 }}<br>
                            
                            {% if organization.salesNumber %}
                            <span>Отдел продаж:</span> {{ organization.salesNumber }} <br>
                            {% endif %}
                            {% if organization.drugStoreNumber %}
                            <span>Aптека:</span> {{ organization.drugStoreNumber }} <br>
                            {% endif %}
                            {% if organization.siteLink %}
                            <span>Web:</span> <a href="www.dekontfarm.uz">{{ organization.siteLink }}</a> <br>
                            {% endif %}
                            <span>E-mail:</span> <a href="mailto:info@dekontfarm.com">{{ organization.email }}</a>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>   
            <div class="container__map">
                <iframe src={{contactstData.mapLink}} width="100%" height="100%" frameborder="0"></iframe>  
            </div>
        </div>
    </content>
    {%endfor%}
{% endblock %}