{% extends 'custom/base.html' %}
{% load static %}


{% block headerImage %}
{% for mainImage in mainImages %}
    <div class="header__content">
        <div class="header__img">
            <img src="{{ mainImage.image.url }}" alt="">
        </div>
        <div class="header__title">
            <h3 class="main__h3">{{ mainImage.title }}</h3>
            <p>{{ mainImage.subtitle }}</p>
        </div>
    </div>
{% endfor %}
{% endblock %}


{% block content %}            
{% for importantPage in importantPages %}
    <div class="about__difference_container important__container">
        <p>{{ importantPage.importantText }}</p>
    </div>
{% endfor %}
{% endblock %}
