{% extends 'custom/base.html' %}
{% load static %}


{% block headerImage %}
<div class="header__slider">
    <div class="swiper">
        <div class="swiper-wrapper">
            {% for mainImage in mainImages %}
            <div class="swiper-slide">
                <div class="slide">
                    <img src="{{ mainImage.image.url }}" alt="">
                    <div class="header__title">
                        <h3 class="main__h3">{{ mainImage.title }}</h3>
                        <p>{{ mainImage.subtitle }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
{% endblock %}


{% block content %}            
    {% for mainPage in mainPages %}
    <content class="content">
        <div class="content__container">
            <div class="container">
                <div class="block__container">
                    <div class="block__container_img">
                        <img src="{{ mainPage.topBlockImage.url }}" alt="who we are">
                    </div>
                    <div class="block__container_text">
                        <h5 class="main__h5">{{ mainPage.topBlockHeader }}</h5>
                        <h4 class="main__h4">{{ mainPage.topBlockTitle }}</h4>
                        <p class="main__p">{{ mainPage.topBlockSubtitle }}</p>
                    </div>
                </div>
            </div>
            <div class="inn__container">
                <div class="block__container">
                    <div class="container__text_inn">
                        <h5 class="main__h5">{{mainPage.innovationheader}}</h5>
                        <h4 class="main__h4">{{mainPage.innovationtitle}}</h4>
                        <p class="main__p">{{mainPage.innovationsubtitle}}</p>
                    </div>
                    <div class="block__container_img">
                        <img src={{mainPage.innovationimage.url}} alt="инновация">
                    </div>
                </div>
            </div>
        </div>
        <div class="content__container_diff aic">
            <div class="products__container">
                    <div class="block__container_img">
                        <img src={{mainPage.productionimage.url}} alt="products">
                    </div>
                    <div class="products__text">
                        <h5 class="main__h5">{{ mainPage.productionheader }}</h5>
                        <h4 class="main__h4">{{ mainPage.productiontitle }}</h4>
                        <p class="main__p">{{ mainPage.productionsubtitle }}</p>
                        <a class="btn" href="{% url 'products' %}">{{ mainPage.productionBottonName }}</a>
                    </div>   
            </div>
        </div>
        <div class="content__container">
            <div class="contacts__container">
                <div class="contacts__container_title">
                    <h4 class="main__h4">{{ mainPage.whereToBuyheader }}</h4>
                </div>
                <div class="contacts__container_content">
                    <div class="contacts__container_img">
                        <img src="{% static 'img/building.jpg' %}" alt="where get products">
                    </div>
                    <div class="block__container_text">
                        <p>{{ mainPage.whereToBuydescription }}</p>
                        <a href="{% url 'contacts' %}" class="btn">{{ mainPage.whereToBuyButtonName }}</a>
                    </div>
                </div>
            </div>
            <div class="feedback__container">
                <div class="contacts__container_title">
                    <h4 class="main__h4">Обратная связь</h4>
                </div>
                <div class="form">
                    <form action="{% url 'thanks' %}" method="post" class="feedback__form">
                        {% csrf_token %}
                        <textarea name="feedback_textarea" id="" cols="30" rows="10" placeholder="Коммментарий"></textarea>
                        <input type="text" name="number" placeholder="Номер телефона">
                        <input type="text" name="fullname" placeholder="Фамилия Имя">
                        <button type="submit" class="sbm">{{ mainPage.formButtonName }}</button>
                    </form>
                </div>
            </div>
        </div>
    </content>
    {%endfor%}
{% endblock %}
