{% extends 'custom/base.html' %}
{% load static %}


{% block headerImage %}
    {% for mainImage in mainImages %}
    <div class="header__content">
        <div class="header__img">
            <img src="{{ mainImage.image.url }}" alt="">
        </div>
        <div class="header__title">
            <h3 class="main__h3">{{ mainImage.title }}</h3>
            <p>{{ mainImage.subtitle }}</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}



{% block content %}
{% for innovationPage in innovationPages %}
    <content class="content">
        <div class="content__container">
            <div class="container mb-0">
                <div class="block__container gap-50">
                    <div class="block__container_text">
                        <h5 class="main__h5">{{ innovationPage.topBlockHeader }}</h5>
                        <h4 class="main__h4">{{ innovationPage.topBlockTitle }}</h4>
                        <p class="main__p">{{ innovationPage.topBlockSubtitle }}</p>
                    </div>
                    <div class="block__container_img mr-0">
                        <img src="{{ innovationPage.topBlockImage.url }}" alt="creating product">
                    </div>
                </div>
            </div>

            <!-- Наши отличия -->
            <div class="about__difference_container">
                <div class="about__difference_title">
                    <h5 class="main__h5">
                        {{ innovationPage.differenceHeader }}
                    </h5>
                    <h4 class="main__h4">{{ innovationPage.differenceTitle }}</h4>
                </div>
                <div class="about__difference_block">
                    {% for differenceItem in differenceItems%}
                    <div class="about__difference_points">
                        <img src="{{ differenceItem.itemImage.url }}" alt="">
                        <h4 class="main__h4">{{ differenceItem.itemTitle }}</h4>
                        <p class="main__p">{{ differenceItem.itemDescription }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Научное сообщество -->
            <div class="inn__container">
                <div class="block__container">
                    <div class="container__text_inn">
                        <h5 class="main__h5">{{ innovationPage.sienceCommunityHeader }}</h5>
                        <h4 class="main__h4">{{ innovationPage.sienceCommunityTitle }}</h4>
                        <p class="main__p">{{ innovationPage.sienceCommunitySubtitle }}</p>
                    </div>
                    <div class="block__container_img">
                        <img src="{{ innovationPage.sienceCommunityImage.url }}" alt="Aora научное сообществво">
                    </div>
                </div>
            </div>

            <div class="container sience__container">
                <div class="sience__list">
                    {% for scienceItem in scienceItems %}
                    <div class="sience__item">
                        <img src="{{ scienceItem.itemImage.url }}" alt="" class="sience__img">
                        <p class="sience__text">{{ scienceItem.itemDescription }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="inn__container">
                <div class="block__container">
                    <div class="container__text_inn">
                        <h5 class="main__h5">{{ innovationPage.integrationHeader }}</h5>
                        <h4 class="main__h4">{{ innovationPage.integrationTitle }}</h4>
                        <p class="main__p">{{ innovationPage.integrationSubtitle }}</p>
                    </div>
                    <div class="block__container_img">
                        <img src="{{ innovationPage.integrationImage.url }}" alt="инновация">
                    </div>
                </div>
            </div>

        </div>
    </content>

    {%endfor%}
{% endblock %}