{% extends 'custom/base.html' %}
{% load static %}


{% block headerImage %}
    {% for mainImage in mainImages %}
    <div class="header__content">
        <div class="header__img">
            <img src="{{ mainImage.image.url }}" alt="">
        </div>
        <div class="header__title">
            <h3 class="main__h3">{{ mainImage.title }}</h3>
            <p>{{ mainImage.subtitle }}</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}



{% block content %}
{% for innovationPage in innovationPages %}
    <content class="content">
        <div class="content__container">
            <div class="container">
                <div class="block__container">
                    <div class="block__container_img">
                        <img src={{ innovationPage.topBlockImage.url }} alt="creating product">
                    </div>
                    <div class="block__container_text">
                        <h5 class="main__h5">{{ innovationPage.topBlockHeader }}</h5>
                        <h4 class="main__h4">{{ innovationPage.topBlockTitle }}</h4>
                        <p class="main__p">{{ innovationPage.topBlockSubtitle }}</p>
                    </div>
                </div>
            </div>
            <div class="innovation__container" id="innovation__container">
                {% for differenceItem in differenceItems %}
                <div class="innovation__item">
                    <div class="innovation__block_img">
                        <img src="{{ differenceItem.itemImage.url }}" alt="">
                    </div>
                    <div class="innovation__block_content">
                        <div class="innovation__block_text">
                            {% if forloop.counter < 10 %}
                                <h2 class="main__h2">0{{ forloop.counter }}</h2>
                            {% else %}
                                <h2 class="main__h2">{{ forloop.counter }}</h2>
                            {% endif %}
                            <h4 class="main__h4">{{ differenceItem.itemTitle }}</h4>
                            <p class="main__p">{{ differenceItem.itemDescription }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="innovation__block_line">
                    {% comment %} <img src="{% static 'img/line.png' %}" alt="line"> {% endcomment %}
                </div>
            </div>
        </div>
        
    </content>

    {%endfor%}
{% endblock %}