{% extends 'custom/base.html' %}
{% load static %}


{% block headerImage %}
    <div class="header__content header__content_inn">
        <div class="header__title">
            <h3 class="main__h3">Инновация</h3>
            <p>это образ нашего мышления</p>
        </div>
    </div>
{% endblock %}


{% block content %}
{% for innovationData in innovationPage %}
    <content class="content">
        <div class="content__container">
            <div class="container">
                <div class="block__container">
                    <div class="block__container_img">
                        <img src={{innovationData.topBlock.image.url}} alt="creating product">
                    </div>
                    <div class="block__container_text">
                        <h5 class="main__h5">{{innovationData.topBlock.header}}</h5>
                        <h4 class="main__h4">{{innovationData.topBlock.title}}</h4>
                        <p class="main__p">{{innovationData.topBlock.subtitle}}</p>
                    </div>
                </div>
            </div>
            <div class="innovation__container">
                <div class="innovation__container_block">
                    <div class="innovation__block_img">
                        {%for element in innovationData.innovationItem.all %}
                        <img src={{element.itemImage.url}} alt="">
                        {%endfor%}
                    </div>
                    <div class="innovation__block_line">
                        <img src="{% static 'img/line.png' %}" alt="line">
                    </div>
                    <div class="innovation__block_content">
                        {% for element in innovationData.innovationItem.all %}
                        <div class="innovation__block_text">
                            <h2 class="main__h2">01</h2>
                            <h4 class="main__h4">{{element.itemTitle}}</h4>
                            <p class="main__p">{{element.itemDescription}}</p>
                        </div>
                       {%endfor%}
                    </div>
                </div>
            </div>
        </div>
        
    </content>

    {%endfor%}
{% endblock %}