{% extends 'custom/base.html' %}
{% load static %}


{% block headerImage %}
    {% for mainImage in mainImages %}
    <div class="header__content">
        <div class="header__img">
            <img src="{{ mainImage.image.url }}" alt="">
        </div>
        <div class="header__title">
            <h3 class="main__h3">{{ mainImage.title }}</h3>
            <p>{{ mainImage.subtitle }}</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}



{% block content %}
    <content class="content">
        <div class="content__container">
            <div class="container products">
                <div class="block__container_products">
                    {%for categoryData in categories%}
                    <div class="block__container_item">
                        <a href="#{{ categoryData.categoryName|first }}">
                            <img src="{{ categoryData.categoryIcon.url }}" alt="">{{categoryData.categoryName}}
                        </a>
                    </div>
                    {%endfor%}
                </div>
            </div>
            {% for category in categories %}
            <div class="products__section_container">  
                <div class="products__section_title" id="{{ category.categoryName|first }}">
                    <img src="{{ category.categoryIcon.url }}" alt="">
                    <h4>{{ category.categoryName }}</h4>
                    <span></span>
                </div>
                <div class="products__section_text">
                    <p class="main__p">{{ category.categoryDescription }}</p>
                </div>
                <div class="products__section_block">
                    {% for product in products %}
                        {% if product.category_id == category.id %}
                        <a href="{% url 'product' product.slug %}">
                            <div class="products__section_item">
                                    <img src="{{ product.productMainImage.url }}" alt="{{ product.productName }}">
                                <div class="products__item_text">
                                    <h4>{{ product.productName }}</h4>
                                    <p>{{ product.productDescription|truncatechars:255 }}</p>
                                </div>
                            </div>
                        </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            
        </div>
        
    </content>
{% endblock %}