{% extends 'custom/base.html' %}
{% load static %}


{% block headerImage %}
    <div class="header__section">
        <p>Антистресс</p>
    </div>
{% endblock %}


{% block content %}
    {% for product in products %}
    <content class="content product">
        <div class="section__content">
            <div class="beneficios__container">
                <div class="beneficios__container_section product__item_container">
                    <div class="product__item_content">
                        <div class="product__item_img">
                            <div class="product__main_img">
                                <img src="{{ product.productMainImage.url }}" alt="">
                            </div>
                            <!-- <div class="product__item_images">
                                {% for element in product.productImage.all %}
                                <img src={{element.imageField.url}} alt="">
                                {% endfor %}
                            </div>                           -->
                        </div>
                        <div class="product__item_text">
                            <h2>{{ product.productName }}</h2>
                            <div class="product__rating">
                                <div class="rating__stars">
                                    <div class="rating__stars_items">
                                        {% for i in range %}
                                            {% if i <= rate%}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="#F1B000" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg>
                                            
                                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="#F1B000"
                                            class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="#F1B000"
                                            class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="#F1B000"
                                            class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg> -->
                                            {%else%}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="#8ED2DE"
                                                    class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg>
                                            {%endif%}
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="rating__reviews">
                                    <p> (Кол-во отзывов: <b>{{total_reviews}}</b>)</p>
                                </div>
                            </div>
                            <div class="product__description">
                                <h3>Описание продукта</h3>
                                <p>{{product.productDescription}}</p>
                                <h2>{{product.productPrice}} сум</h2>
                                <a target="_blank" href="https://t.me/DekontFarm_bot">купить продукт</a>
                            </div>
                        </div>
                    </div>
                    <div class="product__item_description">
                        <div class="beneficios__section_text">
                            <p style="white-space:pre-line">{% autoescape off %} {{ product.information }} {% endautoescape %}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="beneficios__container">
                <h4 class="main__h4">Преимущества</h4>
                <div class="beneficios__container_section">
                    <div class="beneficios__section_list">
                        {% for benefit in benefits %}
                        <div class="beneficios__list_item">
                            <img src="{{ benefit.imageField.url }}" alt="{{ benefit.title }}" width="40" height="40">
                            <p>{{ benefit.title }}</p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="beneficios__section_text">
                        <p>{% autoescape off %} {{ product.beneficiosText }} {% endautoescape %}</p>
                    </div>
                </div>
            </div>
            {% if product.mechanismImage %}
            <div class="action__container">
                <h4 class="main__h4">Механизм действия</h4>
                <div class="action__container_section">
                    <img src="{{ product.mechanismImage.url }}" alt="">
                </div>
            </div>
            {% endif %}

            {% if questionAndAnswers %}
            <div class="accordion__container">
                <h2 class="accordion__header">(Q&A) Часто задаваемые вопросы:</h2>
                {% for questionAndAnswer in questionAndAnswers %}
                <div class="tab">
                    <input type="radio" name="acc" id="{{ questionAndAnswer.id }}">
                    <label for="{{ questionAndAnswer.id }}">
                        <h4>{{ questionAndAnswer.question }}</h4>
                    </label>
                    <div class="accordion__content">
                        <p>{% autoescape off %} {{ questionAndAnswer.answer }} {% endautoescape %}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% if product.recomendedProducts.all %}
            <div class="appropriate__products_container">
                <h4 class="main__h4">Сопутствующие товары</h4>
                <div class="products__section_block">
                    {% for item in product.recomendedProducts.all|slice:":3" %}
                    <a href="{% url 'products' %}">
                        <div class="products__section_item">
                            <img src="{{ item.productMainImage.url }}" alt="pill">
                            <div class="products__item_text">
                                <h4>{{ item.productName }}</h4>
                                <p>{{ item.productDescription|truncatechars:255 }}</p>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <div class="feedback__container">
                <h4 class="main__h4">Отзывы</h4>
                <div class="feedback__container_section">
                    <div class="review__container">

                        {% for review in reviews %}
                        <div class="review__item">
                            <div class="rating__start">
                                <div class="rating__stars_items"> 
                                    {% for i in range %}
                                        {% if i <= rate%}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="#F1B000"
                                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                            </svg>
                                        {%else%}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="#8ED2DE"
                                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                            </svg>
                                        {%endif%}
                                    {%endfor%}
                                </div>
                            </div>
                            <div class="review__text">
                                <div class="review__title">
                                    <h5>{{review.fullname}}</h5> &ThickSpace;
                                    <p>({{review.date}})</p>
                                </div>
                                <p>{{review.comment}}</p>
                            </div>
                        </div>
                        {%endfor%}
                        <hr align="right" width="100%" size="3" color="#939393" style="margin-bottom:70px;" />

                        <div class="form review_form">
                            <form action="{% url 'thanks' %}" method="post" class="feedback__form">
                                {% csrf_token %}
                                <div class="rating">
                                    <div class="rating__items">
                                        <input id="rating__5" type="radio" class="rating__item" name="rating__5" value="5">
                                        <label for="rating__5" class="rating__label">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="28"
                                                fill="#8ED2DE" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                            </svg>
                                        </label>
                                        <input id="rating__4" type="radio" class="rating__item" name="rating__4" value="4">
                                        <label for="rating__4" class="rating__label">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="28"
                                                fill="#8ED2DE" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                            </svg>
                                        </label>
                                        <input id="rating__3" type="radio" class="rating__item" name="rating__3" value="3">
                                        <label for="rating__3" class="rating__label">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="28"
                                                fill="#8ED2DE" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                            </svg>
                                        </label>
                                        <input id="rating__2" type="radio" class="rating__item" name="rating__2" value="2">
                                        <label for="rating__2" class="rating__label">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="28"
                                                fill="#8ED2DE" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                            </svg>
                                        </label>
                                        <input id="rating__1" type="radio" class="rating__item" name="rating__1" value="1">
                                        <label for="rating__1" class="rating__label">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="28"
                                                fill="#8ED2DE" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                            </svg>
                                        </label>
                                    </div>
                                </div>
                                <textarea name="feedback_textarea" id="" cols="30" rows="10"
                                    placeholder="Отзыв"></textarea>
                                <input type="text" placeholder="Номер телефона" name="number">
                                <input type="text" placeholder="Фамилия Имя" name="fullname">
                                <button type="submit" class="sbm">Оставить отзыв</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </content>
    {%endfor%}
{% endblock %}