@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    transition: all 0.5ms ease;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.body {
    width: 100%;
}
.main__h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #01313D;
    margin-bottom: 30px;
    white-space:pre-line;
}

.main__h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #2C2E2D;
    margin-bottom: 10px;
    white-space:pre-line;
}

.main__h3 {
    font-weight: 600;
    font-size: 46px;
    line-height: 56px;
    color: #FFFFFF;
}

.main__p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #939393;
}

.main__h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #6CD0E0;
}

.mt-100 {
    margin-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.aic {
    align-items: center;
}

/* index page */
/* Header */
.header__content{
    margin-top: 70px;
}
.header__img{
    position: relative;
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.header__img::after{
    content: '';
    background: linear-gradient(90deg, rgba(58, 158, 174, 0.8) 0%, rgba(128, 228, 244, 0.8) 100%), url(.jpg);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.header {
    height: 570px;
    width: 100%;
}

.header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    background-color: #fff;
    box-shadow: 0px 2px 4px #d9d9d9;
}

.header__nav a {
    color: #01313D;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.header__nav a:hover {
    color: #6CD0E0;
}

.header__body {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu_list {
    width: 100%;
    display: flex;
}

.header__menu li {
    padding: 0 50px;
}

.header__call {
    border: 1px solid #01313D;
    height: 37px;
    display: flex;
    align-items: center;
}

.header__call a {
    padding: 10px 15px 10px 15px;
    display: inline-flex;
    outline: none;
}

.header__call a:hover {
    background-color: #6CD0E0;
    color: white;
}

.header__call:hover {
    border: 1px solid #6CD0E0;
}

.header__call a:hover .bi-telephone-forward {
    fill: white;
}

.bi-telephone-forward {
    margin-left: 3px;
}

.header__slider {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(57.03deg, rgba(58, 158, 174, 0.8) 26.19%, rgba(128, 228, 244, 0) 66.43%), url();
}

.swiper {
    height: 100%;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    background: linear-gradient(57.03deg, rgba(58, 158, 174, 0.8) 26.19%, rgba(128, 228, 244, 0) 66.43%), url();
}

.swiper-slide .header__title {
    position: absolute;
    top: 80px;
    left: 11%;
}

.slide .header__tiile p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.header__slider img {
    height: 92vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.slide::after{
    content: '';
    background: linear-gradient(57.03deg, rgba(58, 158, 174, 0.8) 26.19%, rgba(128, 228, 244, 0) 66.43%), url();
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}


.swiper .swiper-pagination {
    position: absolute;
    top: 88%;
}

.swiper .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-right: 15px;
    background-color: #FFFFFF;
}

/* block of content */
.content {
    width: 100%;
}

.content__container {
    width: 100%;
    min-height: 100px;
}

.container {
    max-width: 1200px;
    padding: 70px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 0px 2px 4px #D9D9D9;
    border-radius: 5px;
    position: relative;
    background: #fff;
    bottom: 60px;
    margin-bottom: 70px;
    z-index: 1;
}

.block__container {
    display: flex;
}

.block__container_img {
    max-width: 467px;
    max-height: 467px;
    margin-right: 70px;
    border-radius: 5px;
    overflow: hidden;
}
.block__container_text {
    width: 467px;
}

/* inn */
.inn__container {
    height: 315px;
    max-width: 1200px;
    margin: 100px auto;
}

.inn__block_container {
    display: flex;
}

.inn__img {
    display: flex;
    align-items: center;
}

.container__text_inn {
    width: 567px;
    margin-right: 100px;
}

.content__container_diff {
    background: #F5FBFB;
    width: 100%;
    display: flex;
    padding: 70px 100px;
}

.products__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__container_img {
    margin-right: 50px;
}

.products__text {
    width: 413px;
}

.products__text p {
    margin-bottom: 35px;
}

.btn {
    box-sizing: border-box;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #40ABBD;
    border: 1px solid #40ABBD;
    border-radius: 5px;
    padding: 9px 30px;
    transition: all 0.5s ease;
}

.btn:hover {
    color: #F5FBFB;
    /* border: none; */
    background-color: #40ABBD;
}

.contacts__container {
    max-width: 1200px;
    margin: 100px auto;
    min-height: 100px;
    display: flex;
    flex-direction: column;
}

.contacts__container_title {
    padding-bottom: 36px;
}

.contacts__container_content {
    display: flex;
    align-items: center;
}

.contacts__container_content p {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #01313D;
}

.contacts__container_img {
    margin-right: 100px;
}

.feedback__container {
    max-width: 1200px;
    margin: 0 auto 100px auto;
}

.form {
    width: 100%;
}

.feedback__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form textarea {
    width: 100%;
    height: 150px;
    background: #F5FBFB;
    border: 1px solid #8ED2DE;
    border-radius: 5px;
    resize: none;
    outline: none;
}

.form input {
    background: #F5FBFB;
    border: 1px solid #8ED2DE;
    border-radius: 5px;
    width: 48.7%;
    height: 50px;
    margin: 30px 0;
    outline: none;
}

.form textarea,
.form input {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #01313D;
    padding: 15px 30px;
}

.form textarea::placeholder,
.form input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #8ED2DE;
}

.sbm {
    width: 100%;
    height: 50px;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #FFFFFF;
    background: linear-gradient(91.13deg, #40ABBD 0%, #86F1FF 100%);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sbm:hover, .sbm:focus {
    box-shadow: 0 0.5em 0.5em -0.3em #40ABBD;
    transform: translateY(-0.25em);
    /* background-position:20vw; */
    /* animation:slidebg 2s linear infinite; */
}

@keyframes slidebg {
    to {
        background-position:20vw;
    }
}

/* footer */
.footer {
    width: 100%;
    background: #01313D;
}

.footer__container {
    max-width: 1200px;
    min-height: 300px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 50px;
}

.footer__block {
    margin-top: 100px;
    margin-right: 100px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer__block img{
   max-width: 100px;
   max-height: 38px; 
}
.footer__block ul {
    display: flex;
    flex-direction: column;
}

.footer__block ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.footer__block a {
    color: #FFFFFF;
}

.footer__block_a a:hover {
    text-decoration: underline;

}

.footer__block a:hover {
    color: #d1cccc;
}

.footer__block .bi {
    margin-right: 10px;
}

.underline_dark {
    border-bottom: 1px solid #01313D;
}

.underline {
    border-bottom: 1px solid #fff;
}

.title {
    font-weight: 500;
}

.bi-geo-alt {
    margin-bottom: 25px;
}

.info__container {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 30px 0;
    border-top: 1px solid #939393;
}

.info__aora {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.kingdesignn,
.kingdesignn a {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #747474;
}

/* about page */
.header__title {
    position: absolute;
    top: 70px;
    left: 270px;
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
    padding-top: 279px;
    z-index: 3;
    white-space:pre-line;
}

.header__title p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    max-width: 533px;
}

.about__difference_container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100px;
}

.about__difference_title {
    width: 470px;
}

.about__community_title {
    width: 615px;
}

.about__difference_block {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 79px;
}

.about__difference_points h4 {
    font-size: 18px;
}

.about__companies_points {
    display: flex;
    align-items: center;
    padding-bottom: 70px;
}
.about__difference_points img{
    height: 57px;
    width: auto;
    object-fit: scale-down;
    margin-bottom: 15px;
}

.about__companies_points:last-child {
    padding: 0;
}

.about__companies_text {
    padding-left: 70px;
}

.about__companies_img {
    width: 284px;
}

.about__companies_text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #939393;
}

/* innovation page */
.header__content_inn {
    background: url(../img/inn_bg.jpg) 100% 100% no-repeat;
    background-size: cover;
}

.innovation__container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-bottom: 100px;
}

.innovation__container_block {
    height: 1700px;
    width: 720px;
    margin: 0 auto;
    display: flex;
}
.innovation__item{
    display: flex;
    justify-content: center;
    gap: 150px;
}

.innovation__block_img {
    height: 80px;
    width: 230px;
}
.innovation__block_img img{
    object-fit: contain;
}

.innovation__block_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.innovation__block_text {
    max-width: 334px;
}
.innovation__block_line{
    width: 20px;
    height: 0px;
    background: linear-gradient(144deg,#2ad1ff, #4277f3 50%,#00DDEB);;
    border: 1px solid #6CD0E0;
    border-radius: 5px;
    position: absolute;
    top: 0%;
    left: 45%;
    animation: innovationProgress 1s linear infinite;
}
@keyframes innovationProgress{
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}


/* products page */
.header__content_products {
    background: url(../img/products_bg.jpg) 100% 100% no-repeat;
    background-size: cover;
}

.products {
    height: 277px;
}

.block__container_products {
    width: 845px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.block__container_item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    margin-bottom: 17px;
}

.block__container_item:nth-child(3) {
    margin-right: 0;
}

.block__container_item:nth-child(4) {
    margin-bottom: 0;
}

.block__container_item img {
    padding-right: 10px;
    width: 40px;
    height: 40px;
    object-fit: scale-down;
}

.block__container_item a {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #40ABBD;
    border: 1px solid #8ED2DE;
    border-radius: 5px;
    padding: 18px 30px;
}

.block__container_item:hover a {
    box-shadow: 0px 0px 10px #8ED2DE;
}

.products__section_container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 200px;
    margin-bottom: 100px;
}

.products__section_title {
    height: 30px;
    display: flex;
    align-items: center;
}
.products__section_title img{
    width: 33px;
    height: 33px;
    object-fit: scale-down;
}
.products__section_title h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #01313D;
    padding: 0 10px;
    width: 260px;
}

.products__section_title span {
    width: 100%;
    height: 1px;
    background-color: #40ABBD;
}

.products__section_text {
    width: 600px;
    margin: 30px 0;
}

.products__section_block {
    max-width: 1200px;
    flex-wrap: wrap;
    display: flex;
    gap: 67px;
    margin-bottom: 35px;
}


.products__section_item:hover {
    box-shadow: 0px 5px 7px #9a9999;
    transition: all 0.5s;
}

.products__section_item {
    height: 495px;
    width: 355px;
    background: #FFFFFF;
    box-shadow: 0px 2.81158px 5.62317px #D9D9D9;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.products__section_item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.products__item_text {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.products__section_item h4 {
    width: 294px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #01313D;
    padding: 10px 0 6px 0;
}

.products__section_item p {
    width: 294px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #939393;
}

/* product page */

.header__section {
    width: 100%;
    height: 50px;
    background: linear-gradient(90deg, rgba(58, 158, 174, 0.8) 0%, rgba(128, 228, 244, 0.8) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__section p {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.product {
    background: #F5FBFB;
}

.section__content {
    padding: 70px 0 20px 0;
    background: #F5FBFB;
    width: 100%;
    min-height: 1500px;
}

.section__content h4 {
    margin-bottom: 30px;
    margin-top: 100px;
}

.beneficios__container {
    max-width: 1200px;
    margin: 0 auto;
}

.beneficios__container_section {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px #D9D9D9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 100px;
}

.beneficios__container_section p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #939393;
}

.beneficios__container_section span {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #01313D;
}

.beneficios__section_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.beneficios__list_item {
    display: flex;
    align-items: center;
}

.beneficios__list_item img {
    margin-right: 10px;
}

.beneficios__section_text {
    margin-top: 70px;
}

.product__item_description {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__item_container {
    margin: 0 auto;
    padding: 70px 100px;
}

.product__item_content {
    min-height: 406px;
    display: flex;
    gap: 70px;
    justify-content: space-between;
}

.product__item_img {
    width: 400px;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 100px; */
}

.product__item_images{
    display: flex;
    gap: 20px;
}
.product__item_images img{
    width: 120px;
    height: 75px;
    border: 1px solid #8ED2DE;
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
/* .product__main_img {
    grid-area: 1 / 1 / 3 / 4;
}

.product__img1 {
    grid-area: 3 / 1 / 4 / 2;
}

.product__img2 {
    grid-area: 3 / 2 / 4 / 3;
}

.product__img3 {
    grid-area: 3 / 3 / 4 / 4;
} */

.product__item_img img {
    border: 1px solid #8ED2DE;
    border-radius: 5px;
}

.product__item_text {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.product__rating {
    display: flex;
}

.rating__reviews p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8ED2DE;
    padding-left: 5px;
}

.product__description {
    margin-top: 30px;
}

.product__description h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #01313D;
}

.product__description h2 {
    margin: 30px 0 50px 0;
}

.product__item_text h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #01313D;
}

.product__description p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #939393;

}

.product__description a {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    background: linear-gradient(91.13deg, #40ABBD 0%, #86F1FF 100%);
    border-radius: 10px;
    padding: 13px 30px;
}

.product__description a:hover {
    background: linear-gradient(91.13deg, #40ABBD 70%, #86F1FF 100%);
}

.action__container {
    max-width: 1200px;
    margin: 0 auto;
}

.action__container_section {
    width: 100%;
    height: 697px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px #D9D9D9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.appropriate__products_container {
    max-width: 1200px;
    margin: 0 auto;
}

.appropriate__products_container .products__section_block h4 {
    margin: 0;
}

.feedback__container_section {
    max-width: 1200px;
    height: 704px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px #D9D9D9;
    border-radius: 5px;
    padding: 70px 100px;
}

.review__text {
    margin-bottom: 100px;
}

.review__text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #939393;
}

.review__title {
    display: flex;
    margin: 7px 0;
}

.review__title h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #01313D;

}

.review__title p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8ED2DE;
}

.rating {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 182px;
    left: 41%;
}

.rating::before {
    content: '';
    display: block;
}

.rating__items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -55px;
    display: flex;
    flex-direction: row-reverse;
}

.rating__item {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
}

.rating__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
}

.rating__label::before {
    content: '';
    display: block;
    transition: color 0.3s ease 0s;
}

.rating__item:checked .bi-star-fill,
.rating__item:checked~.rating__label .bi-star-fill {
    fill: #F1B000;
}

.rating__label:hover .bi-star-fill,
.rating__label:hover~.rating__label .bi-star-fill,
.rating__label:checked~.rating__label:hover .bi-star-fill {
    fill: #F1B000;
}



/* contacts page */
.contacts__container_section {
    /* margin: 0 auto; */
}

.contacts {
    /* height: 650px; */
}

.contacts__container_where {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

.contacts__where_text {
    width: 446px;
}

.contacts__container_text {
    width: 452px;
}

.contacts__container_section h5 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #01313D;
}

.contacts__container_where p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #01313D;
}

.btn_link {
    width: 458px;
}

.contacts__container_organization {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.organization__mainheader {
    margin: 70px 0 30px 0;
}

.contacts__container_text span {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #01313D;
}

.contacts__container_text p,
.contacts__container_text a {
    font-weight: 400;
    color: #939393;
}

.contacts__container_text a {
    text-decoration: underline;
}

.container__map {
    width: 100%;
    height: 600px;
}